/* start custom scss snippet */

// generating caption for img using markdowm syntax
// The idea is from http://sparkandshine.net/insert-images-with-captions-in-markdown/
// and originates from https://stackoverflow.com/questions/19331362/using-an-image-caption-in-markdown-jekyll
img {
	& + em {
		font-style: normal;
		display: inherit;
		text-align: center;
		font-size: 90%;
	}
}

#back-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    a {
        display: inline-block;
        padding: 12px 14px;
        color: #fff;
        background-color: rgba(170, 170, 170, 0.5);
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
        &:hover {
            background-color: rgba(119, 119, 119, 0.6);
        }
    }
}

/* end custom scss snippet */
