.landing-home {
  display: table;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  background:
      linear-gradient(to bottom, rgba(0,0,0,.35), rgba(0,0,0,.8)),
      #a3a3a3 no-repeat fixed 50% 50%;
  background-position: center;
  background-size: cover;

  .main {
      display: table-cell;
      box-sizing: border-box;
      text-align: center;
      vertical-align: middle;
      animation: fade-in-down .8s;
      h1, body, p {
          margin: 0;
          color: $text-color-theme-dark-d;
          font-family: "Yanone Kaffeesatz", sans-serif
      }
  }

  .content {
      display: table;
      padding: .8rem 0 .8rem / 4 0;
      margin:  auto;
  }
  h1,body {font-family: "Yanone Kaffeesatz", map-get($base, font-family)}
  .my-photo {
      display: inline-block;
      &:hover {
          transform: rotate(360deg);
      }
      img {
          display: block;
          box-sizing: border-box;
          height: 9rem;
          width: 9rem;
          border-radius: 5rem;
          border-style: solid;
          border-width: 5px;
          border-color: rgba(255, 255, 255, 0.5);
      }
      @include transition(transform 0.8s ease 0s);
  }
  .button--theme-light {
    border: 1px solid $main-color-theme-dark
  }
}